body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #386fa3;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #2c0cdf !important;
    
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.contact-info, .language-selector {
    text-align: right;
}

.hero-section {
    text-align: center;
    background: url('https://i.ibb.co.com/NpqxJXj/travel.png') no-repeat center center/cover;
    padding: 100px 20px;
    color: #276fc0;
}

.hero-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.stat h2 {
    font-size: 1.5em;
    margin: 0;
}

.stat p {
    margin: 0;
}

.introduction {
    text-align: center;
    padding: 50px 20px;
}

.introduction h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.introduction p {
    font-size: 1.2em;
    color: #666;
}



.container{
    background-color: green;
}





